In [4]:
import pandas as pd
import numpy as np

In [76]:
df = pd.read_csv('Book1.csv', header=None)
df

,0,1,2,3,4,5,6,7
0,I,感染症及寄生蟲病 Certain infectious and parasitic dise...,NaN,NaN,NaN,NaN,A00-B99,"22,554"
1,NaN,NaN,除感染性胃腸炎及大腸炎外之腸道感染性疾病 Intestinal infectious dis...,NaN,NaN,NaN,A00-A08,"1,371"
2,NaN,NaN,感染性胃腸炎及大腸炎 Infectious gastroenteritis and coli...,NaN,NaN,NaN,A09,"5,349"
3,NaN,NaN,結核病 Tuberculosis,NaN,NaN,NaN,A15-A19,71
4,NaN,NaN,敗血症 Sepsis,NaN,NaN,NaN,A40-A41,345
...,...,...,...,...,...,...,...,...
176,NaN,NaN,來院接受避孕指導處理 Encounter for contraceptive management,NaN,NaN,NaN,Z30,87
177,NaN,NaN,按生產場所及出生型態劃分之活產嬰兒 Liveborn infants according t...,NaN,NaN,NaN,Z38,17
178,NaN,NaN,來院接受其他照護 Encounter for other aftercare,NaN,NaN,NaN,Z51,205
179,NaN,NaN,其他影響健康狀況及健康服務 Other factors influencing health...,NaN,NaN,NaN,remainder of Z00-Z99,"37,633"
180,不詳 Unknown,NaN,NaN,NaN,NaN,NaN,NaN,"14,439"

In [112]:
df_new = df[[6, 7]]
df_new[7]

0       22,554
1        1,371
2        5,349
3           71
4          345
         ...
176         87
177         17
178        205
179     37,633
180     14,439
Name: 7, Length: 181, dtype: object

In [114]:
df_new[7] = df_new[7].str.strip()
df_new[7] = df_new[7].str.replace(',', '')
df_new[7] = pd.to_numeric(df_new[7], errors='coerce')
df_new[7]

/var/folders/t4/nb6s9xh918z38nfhtrby07q80000gn/T/ipykernel_16816/1044336741.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_new[7] = df_new[7].str.strip()
/var/folders/t4/nb6s9xh918z38nfhtrby07q80000gn/T/ipykernel_16816/1044336741.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_new[7] = df_new[7].str.replace(',', '')
/var/folders/t4/nb6s9xh918z38nfhtrby07q80000gn/T/ipykernel_16816/1044336741.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_new[7] = pd.to_numeric(df_new[7], errors='coerce')

0      22554
1       1371
2       5349
3         71
4        345
       ...
176       87
177       17
178      205
179    37633
180    14439
Name: 7, Length: 181, dtype: int64

In [116]:
df_new = df_new.sort_values(by=[7], ascending=False)
df_new

                        6      7
85                J00-J99  65931
86                J00-J11  60110
156               R00-R99  45046
94                K00-K95  41404
160  remainder of R00-R99  40363
..                    ...    ...
20                    C43      9
33                C70,C72      8
31                    C69      4
170                 T70.3      3
149                   O82      2

[181 rows x 2 columns]

In [122]:
df_new_40 = df_new.head(40)

In [124]:
df_new_40.index

Index([ 85,  86, 156,  94, 160, 174, 179, 115, 119,  68,  71, 161,  88,  50,
       130,  73,   0, 117, 167,  52,  90,  74,  99,   6, 128, 118, 180,  62,
       140, 104,  53,  72, 123,  67,   7, 116,  51, 139,  97, 158],
      dtype='int64')

In [132]:
top_40_ICD = df.loc[df_new_40.index]

In [130]:
top_40_ICD.to_csv('top_40_ICD.csv')

In [134]:
top_40_ICD.to_csv('top_40_ICD.csv', encoding='utf-8-sig', index=False)